.slider-2 {
	display: none;
}

.pair__people {
	position: absolute;
	top: 90px;
    left: 3px;
	opacity: 0;
	animation-name: pair;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: .5s;
}

@keyframes pair{0%{opacity:.3}20%{opacity:.4}40%{opacity:.5}60%{opacity:.6}80%{opacity:.7}90%{opacity:.9}100%{opacity:1}}


.data {
	position: absolute;
	opacity: 0;
	top: 330px;
	left: 67px;
	animation-name: pair;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-delay: 1s;
}

.pair__site,
.pair__offer {
	position: absolute;
	opacity: 0;
	animation-name: pair;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-duration: 1.5s;
	animation-fill-mode: forwards;
	animation-delay: 2s;
}

.pair__offer {
	top: 37px;
    left: 9px;
}

.pair__site {
	top: 30px;
    left: 20px;
}